
@model IEnumerable<Manufacturer.Model.ProductModel>


@{
    ViewBag.Title = "Index";
}


<h1 style="text-align: center;">Products</h1>

<style>
    .search-items {
        margin: 12px;
        background-color: white;
        color: #414141;
    }
</style>


<form style="text-align: center;">
    <div style="width: 20%; float:right; margin: 10px;">
        <input type="text" id="input-date" class="search-items" placeholder="Date" />

    </div>
    <div style="width: 20%; float: right; margin: 10px;">

        <input type="text" id="input-category" class="search-items" placeholder="Category" />
    </div>
    <div style="width: 20%; float: right; margin: 10px;">

        <input type="text" id="input-name" class="search-items" placeholder="Name" />
    </div>
    <div style="width: 10%; float: right; margin: 10px;">

        <button id="filter-products" style="font-size: 12px;">Filter</button>
    </div>

    <button style="font-size: 12px; width: 10%; float: right; margin: 10px; margin-top: 15px;">
        @Html.ActionLink("Create New", "Create")
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "action-link-header-table" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "action-link-header-table" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "action-link-header-table" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipmentDate)
                </td>
            </tr>
        }

    </tbody>

</table>
