@model IEnumerable<API.Requset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pick_Up_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchaise_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping_instructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recurring_Order)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pick_Up_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchaise_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping_instructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recurring_Order)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyID })
        </td>
    </tr>
}

</table>
